body{
    background-color:#FAF6F4; 
}

header{
width: 100%;
height: 100px;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
position: fixed;
top: 0;
left: 0;
z-index: 1000;
}

.logo {
position: absolute;
top: 0%;
padding: 5px;
left: 100px;
}

.logo img {
width: 100px; 
height: auto;
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2%;
}

.search-form input {
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    width: 650px; 
    background-color: #CAF5C6A8; 
    border: 1px solid #CAF5C6A8; 
    color: #4E9E48; 
    margin: 0 auto;
} 

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0%;
    padding: 3%;
    position: absolute;
    top: -10px;
    right: 50px;
    
}

.nav-icon {
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 30px;
}


.form-grupo {
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 180px; 
    left: 750px;
}

.form-grupo label {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    margin-bottom: 5px; 
}


.form-grupo input[type="text"] {
    width: 170%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    box-shadow: rgba(0, 0, 0, 0.25);
}

.upload-contaider {
    position: absolute;
    top: 180px;
    left: 400px;
    width: 320px;
    height: 370px;
    border: 1px solid #ccc; 
    border-radius: 10px; /* Arredonda as bordas do contêiner */
    background-color: #fff; /* Define a cor de fundo do contêiner */
    cursor: pointer; 
}

.upload-image {
    position: absolute;
    top: 140px;
    left: 115px;
    width: 100px; 
    height: auto; 
    margin-bottom: 10px;
    cursor: pointer; 
}

.upload-contaider input[type="file"] {
    display: none;
}

button {
    border-radius: 20px;
    background: #75AA71;
    color: #FFF;
    border: none;
    position: absolute;
    top: 650px;
    left: 650px;
    width: 12%;
    font-size: 18px;
    padding: 15px;
    cursor: pointer; 
 }
