body {
    background-color: #FAF6F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 3%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 80px;
}

a {
    color: #4F744C;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    text-decoration: underline; 
}


.logo {
    position: absolute;
    top: 0%;
    padding: 5px;
    left: 100px;
}

.logo img {
    width: 100px;
    height: auto;
}

.user-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 3%;
    position: absolute;
    top: 0;
    right: 0;
}



.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2%;
}

.search-form input {
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    width: 650px;
    background-color: #CAF5C6A8;
    border: 1px solid #CAF5C6A8;
    color: #4E9E48;
    margin: 0 auto;
}

.Banner-item {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 110%;
    height: auto;
    transform: translate(-50%, -50%);
    align-items: center;
    position: absolute;
}

.Banner-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .logo {
        left: 20px;
    }

    .logo img {
        width: 80px;
    }

    .user-nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        position: static;
    }

    .category-nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        position: static;
    }

    li {
        padding: 10px;
        width: auto;
    }

    .search-form {
        flex-direction: column;
        align-items: center;
    }

    .search-form input {
        width: 100%;
        max-width: 400px;
    }

    .Banner-item {
        width: 100%;
        top: 30%;
    }
}