body{
    background-color:#FAF6F4; 
    overflow: hidden;
}


header{
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    position: absolute;
    top: 0%;
    padding: 5px;
    left: 100px;
}

.logo img {
    width: 100px; 
    height: auto;
}

ul{
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Adicionado para alinhar os ícones verticalmente */
    list-style-type: none;
    margin: 0;
    padding: 0; /* Padding removido */
    position: absolute;
    top: 16%;
    right: 150px;
    gap: 20px; 
}

li{
    display: flex;
}
 

a{
    padding: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2%;
}

.search-form input {
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    width: 650px; 
    background-color: #CAF5C6A8; 
    border: 1px solid #CAF5C6A8; 
    color: #4E9E48; 
    margin: 0 auto;
}

 @media (max-width: 768px) {
    .logo {
        left: 20px; /* Ajusta a posição do logo em telas menores */
    }

    .logo img {
        width: 80px; /* Reduz o tamanho do logo em telas menores */
    }

    ul {
        flex-direction: column;
        align-items: center; /* Alinha itens do menu verticalmente em telas menores */
        padding: 0; /* Remove padding para menus verticais */
        position: static; /* Remove a posição absoluta */
        top: auto;
        right: auto;
    }

    li {
        padding: 10px; /* Ajusta o padding dos itens do menu */
        width: auto; /* Ajusta a largura dos itens do menu */
    }

    .search-form {
        flex-direction: column;
        align-items: center; /* Alinha o formulário de busca verticalmente */
    }

    .search-form input {
        width: 100%; /* Ajusta a largura do input para caber em telas menores */
        max-width: 400px; /* Define uma largura máxima para o input */
    }
}

.product-image {
    width: 450px;
    height: 540px;
    border-radius: 20px;
    margin-right: 20px;
    border: 0.15px #000;
    position: fixed;
    top: 172px;
    left: 388px;
}


.product{
    font-family: Roboto;
    position: fixed;
    top: 225px;
    left: 923px;
}

.product-name {
    font-weight: bold;
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    margin: 0;
}
    
.product-detail {
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin: 0;
}

.user-info {
    font-family: Roboto;
    position: fixed;
    top: 512px;
    left: 923px;
}

.user-item{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.user-name {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

.user-handle {
    font-size: 14px;
    color: #666;
    margin: 0;
    font-style: italic;
}