body {
    background-color: #FAF6F4; 
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo img {
    width: 95px; 
    height: auto;
}

.search-form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-form input {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    width: 70%;
    max-width: 650px; 
    background-color: #CAF5C6A8; 
    border: 1px solid #CAF5C6A8; 
    color: #4E9E48; 
    margin: 0 auto;
} 

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-icon {
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 30px;
}

.profile-container {
    padding-top: 120px; /* Espaço para o header fixo */
    text-align: center;
}

.profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.profile-picture {
    position: relative;
    width: 150px;
    height: 150px;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.edit-profile-button {
    position: flex;
    bottom: 0;
    transform: translateX(-2%);
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-info {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-info h1 {
    margin: 0;
}

.actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions a{
    text-decoration: none;
    color:#000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logout-button {
    margin-top: 25px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.products-section {
    margin-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.products-section h2 {
    margin-bottom: 20px;
}

.products-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 150px;
    text-align: center;
    margin: 20px;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    background-color: #EAEAEA;
}